.left-form {
    -fx-background-color:linear-gradient(to bottom right, #145397, #81a1c3); 
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px 0px;   
}

.right-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
}

.close {
    -fx-background-color: transparent; 
    -fx-cursor:hand;
}

.close:hover {
    -fx-background-color: #da3352; 
}

-textfield{
    -fx-background-color:linear-gradient (to bottom, #efefef, #eee);
    -fx-border-color: #000;
    fx-background-radius:4px;
    -fx-border-radius:4px;
    -fx-border-width: .4px;
    -fx-font-size:13px;
    -fx-font-family: "Tahoma";
}

.textfield:focused {
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #145397, #81a1c3); 
-fx-border-width:.8px;
-fx-border-radius:4px;
}

.login-btn{ 
    -fx-color: white;
    -fx-background-color:linear-gradient(to bottom right, #145397, #81a1c3); 
    fx-background-radius:4px;
    -fx-text-fill: #fff;    
    -fx-font-size:14px;
    -fx-font-family: "Arial";
    -fx-cursor:hand;
}

.login-btn:hover {
    -fx-background-color:linear-gradient(to bottom right,#4f6f91, #7177a4);

}

